<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
	<div class="login-layer">
	</div>
	<div class="login-layer2">
	</div>
	<div class="login-content">
		<ion-grid>
			<ion-row>
				<ion-col col-4>
					<button (click)="gotoStart()" class="login-back">
						<ion-icon name="arrow-back"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
			<ion-row class="login-form">
				<ion-col col-12>
					<h1>Log In</h1>
				</ion-col>
				<ion-col col-12>
					<ion-list>
					  <ion-item>
    					<ion-icon name="person" item-start></ion-icon>
					    <ion-label floating>Username</ion-label>
					    <ion-input type="text" item-end></ion-input>
					  </ion-item>

					  <ion-item>
    					<ion-icon name="lock" item-start></ion-icon>
					    <ion-label floating>Password</ion-label>
					    <ion-input type="{{ passType }}" [(ngModel)]="password"></ion-input>
    					<button ion-button (click)="lihatPass()" style="background:transparent;font-size:2rem" item-end>
	    					<ion-icon *ngIf="passType == 'text'" name="eye" style="color:#FFCE54"></ion-icon>
	    					<ion-icon *ngIf="passType == 'password'" name="eye" style="color:#FFF"></ion-icon>
	    				</button>
					  </ion-item>
					</ion-list>
					<button ion-button class="btn" color="third2" block>Log In</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
